.category-content {

}
.category-content .kill-list-type {
    list-style-type: none !important;
}
.post-title a {
    display: inline-block;
    width: 100%;
}
.post-title a:hover {
    background-color: #e1e1e1;
}
