@font-face {
    font-family: 'iconmoon';
    src: url('./fonts/icoMoon.ttf');
    src: url('./fonts/icoMoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header Style Start*/
header {
    padding: 5px 0 0;
    background-color: #222;
    color: #fff;
    text-align: center;
}

div#header-desc {
    padding: 10px 30px 20px;
}

#header-desc > p:first-child {
    position: relative;
    font-size: 1.8rem;
}

#header-desc i:hover {
    color: greenyellow;
}

#header-desc > p > i::after {
    font-family: iconmoon;
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
}
#header-desc .folder-closed::after {
    content: '\e931';
}
#header-desc .folder-open::after {
    content: '\e932';
}

#header-desc > p:last-child {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 10px;
}

header nav {
    padding: 5px 0;
    background-color: #f5f7f9;
    color: #666;
    transition: all 0.5s linear;
}

header .hide-nav {
    height: 0;
}

header li {
    line-height: 2.5;
    cursor: pointer;
}

header li:hover, header li:hover {
    color: #fff;
    background-color: #666;
}

header li > a {
    display: inline-block;
    width: 100%;
}

/* Header Style End*/

/* main样式 */
.main {
}

.main::before, .main::after {
    content: '';
    display: table;
}

.main::after {
    clear: both;
}

.main .content, .main aside {
    float: left;
}

/* content样式 */
.main .main-inner {
    margin: 0 auto;
}

.main .content {
    position: relative;
    width: 700px;
    background-color: white;
    padding: 10px 40px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@keyframes music {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

#music {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: iconmoon;
    font-size: 2rem;
    animation: music 3s infinite linear;
    border-radius: 50%;
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#music::after {
    content: '\e911';
}

/* Aside Style Start */
.main aside {
    width: 200px;
    background-color: #f5f7f9;
    margin-left: 20px;
}

aside .desc {
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 20px 5px;
}

aside .desc h3 {
    font-size: 1.6rem;
}

aside .desc p {
    font-size: 1.4rem;
    margin-top: 10px;
    line-height: 1.5;
}

aside > nav {
    background-color: white;
}

aside ul {
    padding: 20px 0;
    font-family: iconmoon;
}

aside ul > li {
    line-height: 2.2;
    cursor: pointer;
    padding: 0 20px;
}

aside ul > li:hover {
    background-color: #f5f7f9;
}

aside li > a::before {
    padding-right: 10px;
}

.l-home::before {
    content: '\e900';
}

.l-category::before {
    content: '\ea66';
}

.l-about::before {
    content: '\e976';
}

.l-concat::before {
    content: '\e96d';
}

aside .something {
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.something img {
    width: 100%;
    border-radius: 5px;
}

.something .rss {
    color: orangered;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 5px 0;
    border: dashed #e1e1e1;
    border-width: 1px 0;
}

.rss p::before {
    font-family: iconmoon;
    content: '\ea9b';
    padding-right: 10px;
}

.concat address {
    margin-top: 20px;
    font-size: 2rem;
}

.concat address > a {
    font-family: iconmoon;
}

.concat address > a:hover {
    color: mediumpurple;
}

.concat .facebook::before {
    content: '\ea91';
}

.concat .twitter::before {
    content: '\ea96';
}

.concat .google::before {
    content: '\ea89';
}

.concat .github::before {
    content: '\eab0';
}

.concat .ws::before {
    content: '\e949';
}

/* Aside Style End*/

.hidden {
    display: none;
}

/* Footer Style Start */
footer {
    text-align: center;
    margin: 40px 220px 20px 0;
    color: #666;
    font-size: 1.4rem;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: #333;
}

footer address {
    margin-top: 10px;
}

/* Footer Style End*/

/* 适配屏幕宽度 */
@media screen and (min-width: 921px) {
    header {
        display: none;
    }

    .main .main-inner {
        width: 960px;
    }

    .main .content {
        width: 700px;
    }

    .main aside {
        display: block;
    }
}

@media screen and (max-width: 920px) {
    header {
        display: block;
    }

    .main .content {
        width: 100%;
    }

    .main aside {
        display: none;
    }

    footer {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .main .content {
        padding: 0 10px;
    }
}
