@font-face {
    font-family: 'iconmoon';
    src: url('./fonts/icoMoon.ttf');
    src: url('./fonts/icoMoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
    min-height: 100%;
    margin: -132px auto -140px;
    padding: 132px 0 140px;
}

.hidden {
    display: none;
}
