* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, Verdana, "Microsoft Yahei", "微软雅黑", Arial, sans-serif !important;
    font-size: 10px;
    width: 100%;
}

body {
    font-size: 1.4rem;
    background-color: #f5f7f9;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
