---
layout: default
title: category
---
<div class="category-content">
    <ul>
        {% for cat in site.categories %}
        <li class="kill-list-type">
            <h2 class="category">{{cat[0]}}</h2>
            <ul>
                {% for page in cat[1] %}
                <li class="post-title">
                    <h3>
                        <a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    $(function () {
        var category = $('.category');
        category.on('click', function () {
            $(this).siblings('ul');
        });
    });
</script>
