<footer class="page-footer">
    <h1>Blog's Footer Element.</h1>
    <address>
        <h2 style="display: none;">Concat Author.</h2>
        <a href="https://www.facebook.com/xin.taojihede" target="_blank">
            <span class="facebook"></span>
        </a>
        <a href="https://twitter.com/TaoJiHeDe" target="_blank">
            <span class="twitter"></span>
        </a>
        <a href="https://github.com/Tao-Quixote" target="_blank">
            <span class="github"></span>
        </a>
        <a href="https://plus.google.com/u/0/109069375032084811531/posts/p/pub" target="_blank">
            <span class="google"></span>
        </a>
        <a href="http://ws.nullisall.com" target="_blank">
            <span class="ws"></span>
        </a>
        <p class="mail">
            Concat me by
            <a href="mailto:web.taox@gmail.com?subject=Concat-me-from-blog">email</a>
        </p>
    </address>
    <p class="copy-right">&copy; 2016 -- Now</p>
</footer>
