<header class="page-header">
    <h1>Blog's Header Element.</h1>
    <figure>
        <img src="{{site.baseurl}}/icon.png">
        <figcaption>logon</figcaption>
    </figure>
    <nav>
        <h2>Blog's Nav.</h2>
        <ul>
            <li><a href="{{site.baseurl}}/index.html">首页</a></li>
            <li><a href="{{site.baseurl}}/category.html">分类</a></li>
            <li><a href="{{site.baseurl}}/about.html">关于</a></li>
            <li><a href="{{site.baseurl}}/concat.html">Concat</a></li>
        </ul>
    </nav>
</header>
