<header>
    <div id="header-desc">
        <p>陶吉诃德<i id="nav-folder" class="folder-closed"></i></p>
        <p>这是最好的时代，这是最坏的时代；这是智慧的年代，这是愚蠢的年代；这是信仰的时期，这是怀疑的时期；这是光明的季节，这是黑暗的季节；这是希望之春，这是绝望之冬；</p>
    </div>
    <nav id="header-nav" class="hide-nav">
        <h1 class="hidden">Hidden Nav For the Blog.</h1>
        <ul>
            <li><a href="{{ site.baseurl}}/index.html">首页</a></li>
            <li><a href="{{ site.baseurl}}/category.html">分类</a></li>
            <li><a href="{{ site.baseurl}}/about.html">关于</a></li>
            <li><a href="{{ site.baseurl}}/concat.html">Concat</a></li>
        </ul>
    </nav>
</header>
