<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="陶鑫 Tao-Quixote">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="keywords" content="javascript,css,html,mac,linux">
    <!--[if lt IE 9]>
    <script rel="script" type="text/javascript" src="{{site.baseurl}}/js/html5.js"></script>
    <![endif]-->
    <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
    <link href="{{site.baseurl}}/css/reset.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/index.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/category.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/github2.css" rel="stylesheet" type="text/css">
    <script rel="script" type="text/javascript" src="{{site.baseurl}}/js/zepto.js"></script>
</head>
